.welcome-message {
	position: fixed;
	display: table;
	top: 15px;
	left: 15px;
	padding: 10px 20px;
	max-width: 500px;
	background-color: white;
	border-radius: 2.5px;
	z-index: 10;
}

.pull-right {
	float: right;
}

.shadow-medium {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.primary-color {
	color: #D1256E;
}

.primary-color-bg {
	background-color: #D1256E !important;
	color: white !important;
}

.primary-color-btn {
	background-color: #D1256E !important;
	color: white !important;
	transition: 0.3s;
}

.primary-color-btn:hover {
	background-color: #981b4f !important;
}

.sidebar-right {
	position: fixed;
	top: 15px;
	right: 15px;
	background-color: white;
	padding: 10px 20px;
	border-radius: 2.5px;
	z-index: 10;
}

.search {
	width: 400px;
}

.centered {
	display: table;
	margin: 0 auto;
}

.sizes {
	width: 350px !important;
	margin: auto !important;
	top: 50% !important;
  	left: 50% !important;
 	transform: translate(-50%, -50%) !important;
}

.margins {
	border: 1px solid rgba(209, 37, 110,.15);
	border-radius: .28571429rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.headstyle {
	color: #D1256E;
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.warning {
	color: #D8000C;
	text-align: center;
}

.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
	background-color: #D1256E !important;
}

.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
    background-color: #D1256E!important;
}
